
                @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

                nav div ul li a:hover{	
		        font-family: 'orbitron';
		        font-size: 20px;
		        }

		        nav div{
		        padding-top: 16px;
		        background-color: black;
		        }

		        nav div ul li a{
		        font-size:20px;
		        font-family: 'orbitron';
		        color:white;
		        padding-left: 30px;

		        }

		        div div img{
		        padding-top: 250px;	
		        }

		        .carousel.slide{	
		        }

		        .active.item{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.aa{
		        height: 900px;
		        width: 1180px;	
		        }
                  
                .item.bb{
		        height: 900px;
		        width: 1180px;	
		        }
		        
		        .item.cc{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.dd{
		        height: 900px;
		        width: 1180px;	
		        }   

		        .a{
		        }

		        .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow.gif');
		        height: 600px;
		        width: 1180px;	
		        }

		        .c{
		        margin-top: 50px;	
		        background-image: url('../img/joystick.gif');
		        height: 600px;
		        width: 1170px;	
		        }

		        .title{
		        margin-top: 20px; 	
		        color:white;
		        font-size: 50px;
		        font-family: 'orbitron';
		        }

		        .text{
		        margin-top: 30px;	
		        color:white;
		        font-size: 25px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .videotainer{
		        height: 0;
		        }

		        .videotainer iframe{
		        position: absolute;
		        width: 50%;
		        height: 50%;	
		        margin-top: 180px;
		        margin-left: 265px;	
		        }

		        footer{
		        margin-top: 50px;
		        background-color: black;
		        }

		        footer address{
		        margin-top: 10px;
		        margin-left: 20px;
		        color:white;
		        font-family: 'arial black';	
		        }

		        .fa-phone{
		        margin-left: 5px;  	
		        }

		        .fa-envelope{
		        margin-left: 5px;	
		        }

		        .img-polaroid{
                height: 100px;
                width: 100px;	
                }

                @media (max-width: 767px){

		        .img-polaroid{
		        width: 80px;
		        height: 80px;	
		        }

		        }

				/* tables em formato porta retrato até os desktos no formato paisagem */
				@media (min-width: 768px) and (max-width: 979px) {

				.active.item{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.aa{
		        height: 900px;
		        width: 1180px;	
		        }
                  
                .item.bb{
		        height: 900px;
		        width: 1180px;	
		        }
		        
		        .item.cc{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.dd{
		        height: 900px;
		        width: 1180px;	
		        }   	

		        .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow2.gif');
		        background-repeat: no-repeat;
		        height: 396px;
		        width: 780px;	
		        }

		        .c{
		        margin-top: 50px;	
	            background-color: black;	    
		        background-image: none;
		        height: 410px;
		        width: 725px;	
		        }

		        iframe{
		        margin-top: 120px;
		        margin-left: 180px;	
		        }

		        .title{	
		        color:white;
		        font-size: 30px;
		        font-family: 'orbitron';
		        }

		        .text{
		        color:white;
		        font-size: 10px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .z{
		        }

				}
				 
				/* dispositivo em paisagem até os tablets em formato porta-retrato */
				@media (max-width: 767px) {

				.active.item{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.aa{
		        height: 900px;
		        width: 1180px;	
		        }
                  
                .item.bb{
		        height: 900px;
		        width: 1180px;	
		        }
		        
		        .item.cc{
		        height: 900px;
		        width: 1180px;	
		        }

		        .item.dd{
		        height: 900px;
		        width: 1180px;	
		        }    	

		        .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow3.gif');
		        background-repeat: no-repeat;
		        height: 345px;
		        width: 680px;	
		        }

		        .c{
		        margin-top: 50px;	
		        background-color: black;
		        background-image: none;
		        height: 370px;
		        width: 555px;	
		        }

		        iframe{
		        margin-top: 100px;
		        margin-left: 90px;	
		        }

		        .title{
		        color:white;
		        font-size: 30px;
		        font-family: 'orbitron';
		        }

		        .text{
		        color:white;
		        font-size: 15px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .z{
		        }


				}

				/* dispositivo no formato paisagem e abaixos */
				@media (max-width: 600px) {

				.active.item{
		        height: auto;
		        width: auto;	
		        }

		        .item.aa{
		        height: auto;
		        width: auto;	
		        }
                  
                .item.bb{
		        height: auto;
		        width: auto;	
		        }
		        
		        .item.cc{
		        height: auto;
		        width: auto;	
		        }

		        .item.dd{
		        height: auto;
		        width: auto;	
		        }   	
                
                .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow3.gif');
		        background-repeat: no-repeat;	
		        }
	
		        .c{
                background-color: black;
		        background-repeat: no-repeat;
		        height: 350px;
		        width: 443px;	
		        }

		        iframe{
		        margin-top: 90px;
		        margin-left: 35px;	
		        }

		        .title{ 	
		        color:white;
		        margin-left: 100px;
		        font-size: 25px;
		        font-family: 'orbitron';
		        }

		        .text{	
		        color:white;
		        font-size: 10px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .z{
		        }

				}

				/* dispositivos mobiles grandes */
				@media (max-width: 375px) {


                .active.item{
		        height: auto;
		        width: auto;	
		        }

		        .item.aa{
		        height: auto;
		        width: auto;	
		        }
                  
                .item.bb{
		        height: auto;
		        width: auto;	
		        }
		        
		        .item.cc{
		        height: auto;
		        width: auto;	
		        }

		        .item.dd{
		        height: auto;
		        width: auto;	
		        } 

		        .a{
		        margin-top: -220px;	
		        }

                .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow5.gif');
		        background-repeat: no-repeat;	
		        }
	
		        .c{
		        margin-top: -70px;	
                background-color: black;
		        background-repeat: no-repeat;
		        height: 480px;
		        width: 318px;	
		        }

		        .videotainer iframe{
		        position: absolute;
		        width: 70%;
		        height: 25%;	
		        margin-top: 40px;
		        margin-left: 35px;	
		        }

		        .title{ 	
		        color:white;
		        margin-left: 40px;
		        font-size: 22px;
		        font-family: 'orbitron';
		        }

		        .text{	
		        color:white;
		        font-size: 10px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .z{
		        }

				}

				/* dispositivos mobiles */
				@media (max-width: 320px) {


                .active.item{
		        height: auto;
		        width: auto;	
		        }

		        .item.aa{
		        height: auto;
		        width: auto;	
		        }
                  
                .item.bb{
		        height: auto;
		        width: auto;	
		        }
		        
		        .item.cc{
		        height: auto;
		        width: auto;	
		        }

		        .item.dd{
		        height: auto;
		        width: auto;	
		        } 

		        .a{
		        margin-top: -220px;	
		        }

                .b{
		        margin-top: 50px;	
		        background-image: url('../img/gow5.gif');
		        background-repeat: no-repeat;	
		        }
	
		        .c{
		        margin-top: -70px;	
                background-color: black;
		        background-repeat: no-repeat;
		        height: 550px;
		        width: 263px;	
		        }

		        .videotainer iframe{
		        position: absolute;
		        width: 75%;
		        height: 25%;	
		        margin-top: 40px;
		        margin-left: 20px;	
		        }

		        .title{ 	
		        color:white;
		        margin-left: 25px;
		        font-size: 20px;
		        font-family: 'orbitron';
		        }

		        .text{	
		        color:white;
		        font-size: 10px;
		        font-family: 'arial black';
		        text-align: justify;  	
		        }

		        .z{
		        }

				}



		

		       

		       
